{{ favicon }}

<link rel="shortcut icon" type="image/png" href="/favicon.png"/>

{{ css }}

<link rel="stylesheet" href="css/article1.css">

{{ html }}
<div>
	<h1>Article 1</h1>

	<p>Est ex sint purto omnes, at mea graeci veritus, ei mea luptatum scripserit. Eum eu iusto quaestio definiebas, case accusam platonem ut his, his falli epicuri no. Ne vel vero antiopam, vel et nihil theophrastus. Sanctus argumentum nec at, pri timeam 

	<p>Est ex sint purto omnes, at mea graeci veritus, ei mea luptatum scripserit. Eum eu iusto quaestio definiebas, case accusam platonem ut his, his falli epicuri no. Ne vel vero antiopam, vel et nihil theophrastus. Sanctus argumentum nec at, pri timeam consetetur te, habeo omittam te eos. Equidem fastidii mel ex, duo ad fugit noster verterem.</p>
</div>

{{ scripts }}
<script src="scripts/article1.js"></script>